@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@keyframes swing {
  0%, 100% { transform: rotate(0deg); }
  50%       { transform: rotate(30deg); }
  75%       { transform: rotate(-30deg); }
}

/* define custom animation shorthand */
:root {
  --animate-swing: swing 4s ease-in-out infinite;
}
